{% if user.get_full_name %}
Dear {{ user.get_full_name }},
{% endif %}
<p>
  We've received a request to change your {{ OPAL_BRAND_NAME }} password.
</p>
<p>
  Click on the link below to reset the password for {{ user.get_username }}.</a>
</p>
{% autoescape off %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>
<p>
(If clicking the link above doesn't work, please copy and paste it into a browser.)
</p>
{% endautoescape %}

