{% extends "registration/password_reset_base.html" %}
{% block content %}
<div class="content-offset container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h2>Reset Password</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-10 ">
          <p class="lead content-offset-10">
            Please check your email for your reset link.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
